<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kute.appletcore.dao.ClerkMapper">


    <!-- 获取小程序量体师列表 -->
    <select id="selectAppClerkList"  resultType="com.kute.appletcore.entity.AppClerk">
        select store_code,store_name
        ,clerk_id
        ,clerk_name
        ,clerk_tel
        ,clerk_sex
        ,clerk_city
        ,(select  s.parameter_value  from sys_parameter_config s
            where  s.parameter_code='clerk_head')||clerk_image clerk_image
        ,instruction
        ,created_by
        ,is_dimission
        ,wx_number
        ,create_date
        ,attribute1
        ,attribute2
        ,attribute3
        ,attribute4
        ,attribute5
        ,dimission_date
        from app_clerk
        where 1=1
        and is_dimission='N'
        order by create_date desc
    </select>
    <!-- 获取小程序量体师列表数量 -->
    <select id="selectAppClerkListNum" parameterType="string" resultType="int">
        select count(1)
        from app_clerk
        where 1=1
        and is_dimission='N'
    </select>
    <!-- 修改量体师头像 -->
    <update id="updateClerkImage" parameterType="Map">
	        update app_clerk
	           set clerk_image=#{clerk_image}
	         where 1 = 1
	           and store_code = #{store_code}
	           and clerk_id = #{clerk_id}
	 </update>
</mapper>