<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kute.appletcore.dao.AppCusAddressMapper" >
  <resultMap id="BaseResultMap" type="com.kute.appletcore.entity.AppCusAddress" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="COUNTY" property="county" jdbcType="VARCHAR" />
    <result column="STREET" property="street" jdbcType="VARCHAR" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="POST_CODE" property="postCode" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_CUS_ADDRESS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kute.appletcore.entity.AppCusAddress" >
    insert into APP_CUS_ADDRESS ( MEMBER_ID, PROVINCE,
      CITY, COUNTY, STREET, 
      IS_DEFAULT, NAME, PHONE_NUMBER,
      ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, 
      PROVINCE_NAME, CITY_NAME, COUNTY_NAME, 
      CREATE_DATE, UPDATE_DATE,POST_CODE)
    values (#{memberId,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      '0', #{name,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},
      #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, 
      #{provinceName,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{countyName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},#{postCode})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kute.appletcore.entity.AppCusAddress" >
    update APP_CUS_ADDRESS
    set MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      COUNTY = #{county,jdbcType=VARCHAR},
      STREET = #{street,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      COUNTY_NAME = #{countyName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      POST_CODE=#{postCode}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, MEMBER_ID, PROVINCE, CITY, COUNTY, STREET, IS_DEFAULT, NAME, PHONE_NUMBER,
    ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, PROVINCE_NAME, CITY_NAME, COUNTY_NAME, CREATE_DATE, 
    UPDATE_DATE,POST_CODE
    from APP_CUS_ADDRESS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, MEMBER_ID, PROVINCE, CITY, COUNTY, STREET, IS_DEFAULT, NAME, PHONE_NUMBER,
    ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, PROVINCE_NAME, CITY_NAME, COUNTY_NAME, CREATE_DATE, 
    UPDATE_DATE,POST_CODE
    from APP_CUS_ADDRESS
  </select>
</mapper>