<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kute.appletcore.dao.AppGoodsMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from APP_GOODS
    where GOODS_ID = #{goodsId}
  </delete>
  <insert id="insert" parameterType="com.kute.appletcore.entity.AppGoods" >
    insert into APP_GOODS ( DELETE_FLAG, CREATE_DATE,
      GOODS_DESCRIPTION, GOODS_NAME, IS_HOT, 
      IS_NEW_PRODUCT, UP_OFF_SHELF, GOODS_NAME_EN,
      STYLE_TYPE, SUB_STYLE, GOODS_SELL_PRICE, 
      DESIGNER_ID, IS_SUIT, CUSTOM_FLAG, 
      APP_INDEX_SHOW, APP_INDEX_ORDER, DETAILS_INTRO_URL, 
      DETAIL_MODEL_ONE, DETAIL_MODEL_TWO, DETAIL_MODEL_THREE, 
      GOODS_IMAGE1, GOODS_IMAGE2, GOODS_IMAGE3, 
      GOODS_IMAGE4, GOODS_DETAIL_IMAGE1, GOODS_DETAIL_IMAGE2, 
      GOODS_DETAIL_IMAGE3, GOODS_DETAIL_IMAGE4, GOODS_DETAIL_IMAGE5, 
      GOODS_DETAIL_IMAGE6, GOODS_DETAIL_IMAGE7, GOODS_DETAIL_IMAGE8, 
      GOODS_DETAIL_IMAGE9, GOODS_DETAIL_IMAGE10, 
      NEED_DETAIL_GENERATE, MAIN_STYLE,
      FABRIC_NAME,XF_PRICE,XK_PRICE,MJ_PRICE,LINING_TYPE,FABRIC_LIST)
    values ( 'N', now(),
      #{goodsDescription}, #{goodsName}, #{isHot}, 
      #{isNewProduct}, #{upOffShelf}, #{goodsNameEn},
      #{styleType}, #{subStyle}, #{goodsSellPrice}, 
      #{designerId}, #{isSuit}, #{customFlag}, 
      #{appIndexShow}, #{appIndexOrder}, #{detailsIntroUrl}, 
      #{detailModelOne}, #{detailModelTwo}, #{detailModelThree}, 
      #{goodsImage1}, #{goodsImage2}, #{goodsImage3}, 
      #{goodsImage4}, #{goodsDetailImage1}, #{goodsDetailImage2}, 
      #{goodsDetailImage3}, #{goodsDetailImage4}, #{goodsDetailImage5}, 
      #{goodsDetailImage6}, #{goodsDetailImage7}, #{goodsDetailImage8}, 
      #{goodsDetailImage9}, #{goodsDetailImage10}, 
      #{needDetailGenerate},#{mainStyle},
      #{fabricName},#{xfPrice},#{xkPrice},#{mjPrice},#{liningType},#{fabricList})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kute.appletcore.entity.AppGoods" >
    update APP_GOODS
    set
      GOODS_DESCRIPTION = #{goodsDescription},
      GOODS_NAME = #{goodsName},
      IS_HOT = #{isHot},
      IS_NEW_PRODUCT = #{isNewProduct},
      UP_OFF_SHELF = #{upOffShelf},
      GOODS_NAME_EN = #{goodsNameEn},
      STYLE_TYPE = #{styleType},
      SUB_STYLE = #{subStyle},
      GOODS_SELL_PRICE = #{goodsSellPrice},
      DESIGNER_ID = #{designerId},
      IS_SUIT = #{isSuit},
      CUSTOM_FLAG = #{customFlag},
      APP_INDEX_SHOW = #{appIndexShow},
      APP_INDEX_ORDER = #{appIndexOrder},
      DETAILS_INTRO_URL = #{detailsIntroUrl},
      DETAIL_MODEL_ONE = #{detailModelOne},
      DETAIL_MODEL_TWO = #{detailModelTwo},
      DETAIL_MODEL_THREE = #{detailModelThree},
      GOODS_IMAGE1 = #{goodsImage1},
      GOODS_IMAGE2 = #{goodsImage2},
      GOODS_IMAGE3 = #{goodsImage3},
      GOODS_IMAGE4 = #{goodsImage4},
      GOODS_DETAIL_IMAGE1 = #{goodsDetailImage1},
      GOODS_DETAIL_IMAGE2 = #{goodsDetailImage2},
      GOODS_DETAIL_IMAGE3 = #{goodsDetailImage3},
      GOODS_DETAIL_IMAGE4 = #{goodsDetailImage4},
      GOODS_DETAIL_IMAGE5 = #{goodsDetailImage5},
      GOODS_DETAIL_IMAGE6 = #{goodsDetailImage6},
      GOODS_DETAIL_IMAGE7 = #{goodsDetailImage7},
      GOODS_DETAIL_IMAGE8 = #{goodsDetailImage8},
      GOODS_DETAIL_IMAGE9 = #{goodsDetailImage9},
      GOODS_DETAIL_IMAGE10 = #{goodsDetailImage10},
      NEED_DETAIL_GENERATE = #{needDetailGenerate},
      MAIN_STYLE = #{mainStyle},
      FABRIC_NAME = #{fabricName},
      XF_PRICE = #{xkPrice},
      XK_PRICE = #{xkPrice},
      MJ_PRICE = #{mjPrice},
      LINING_TYPE = #{liningType},
      FABRIC_LIST=#{fabricList}
    where GOODS_ID = #{goodsId}
  </update>
  <select id="selectByPrimaryKey" resultType="com.kute.appletcore.entity.AppGoods"  >
   SELECT
	GOODS_ID,
	DELETE_FLAG,
	CREATE_DATE,
	GOODS_DESCRIPTION,
	GOODS_NAME,
	IS_HOT,
	IS_NEW_PRODUCT,
	UP_OFF_SHELF,
	GOODS_NAME_EN,
	STYLE_TYPE,
	SUB_STYLE,
	GOODS_SELL_PRICE,
	DESIGNER_ID,
	IS_SUIT,
	CUSTOM_FLAG,
	APP_INDEX_SHOW,
	APP_INDEX_ORDER,
	DETAILS_INTRO_URL,
IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	 CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), DETAIL_MODEL_ONE )) DETAIL_MODEL_ONE,
IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_IMAGE1 )) GOODS_IMAGE1,
IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_DETAIL_IMAGE1 )) GOODS_DETAIL_IMAGE1,
IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_DETAIL_IMAGE2 )) GOODS_DETAIL_IMAGE2,
IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_DETAIL_IMAGE3 )) GOODS_DETAIL_IMAGE3,
IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_DETAIL_IMAGE4 )) GOODS_DETAIL_IMAGE4,
IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_DETAIL_IMAGE5 )) GOODS_DETAIL_IMAGE6,
	IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_DETAIL_IMAGE7 )) GOODS_DETAIL_IMAGE7,
	IF
	(
		ISNULL( DETAIL_MODEL_ONE ),
		'',
	CONCAT(( SELECT parameter_value FROM sys_parameter_config WHERE parameter_code = 'goods_img' ), GOODS_DETAIL_IMAGE8 )) GOODS_DETAIL_IMAGE8,
	NEED_DETAIL_GENERATE,
	DELETE_DATE,
	MAIN_STYLE,
	FABRIC_NAME,
	XF_PRICE,
	XK_PRICE,
	MJ_PRICE,
	LINING_TYPE,
	FABRIC_LIST
FROM
	APP_GOODS
WHERE
	 GOODS_ID = #{goodsId}
  </select>
  <select id="selectAll" resultType="com.kute.appletcore.entity.AppGoods" >
    select GOODS_ID, DELETE_FLAG, CREATE_DATE, GOODS_DESCRIPTION, GOODS_NAME, IS_HOT, 
    IS_NEW_PRODUCT, UP_OFF_SHELF, GOODS_NAME_EN, STYLE_TYPE, SUB_STYLE, GOODS_SELL_PRICE,
    DESIGNER_ID, IS_SUIT, CUSTOM_FLAG, APP_INDEX_SHOW, APP_INDEX_ORDER, DETAILS_INTRO_URL, 
    DETAIL_MODEL_ONE, DETAIL_MODEL_TWO, DETAIL_MODEL_THREE, GOODS_IMAGE1, GOODS_IMAGE2, 
    GOODS_IMAGE3, GOODS_IMAGE4, GOODS_DETAIL_IMAGE1, GOODS_DETAIL_IMAGE2, GOODS_DETAIL_IMAGE3, 
    GOODS_DETAIL_IMAGE4, GOODS_DETAIL_IMAGE5, GOODS_DETAIL_IMAGE6, GOODS_DETAIL_IMAGE7, 
    GOODS_DETAIL_IMAGE8, GOODS_DETAIL_IMAGE9, GOODS_DETAIL_IMAGE10, NEED_DETAIL_GENERATE, 
    DELETE_DATE, MAIN_STYLE, FABRIC_NAME,XF_PRICE,XK_PRICE,MJ_PRICE,LINING_TYPE
    from APP_GOODS
  </select>
</mapper>