<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kute.appletcore.dao.AppGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.kute.appletcore.entity.AppGoods" >
    <id column="GOODS_ID" property="goodsId" jdbcType="DECIMAL" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="GOODS_DESCRIPTION" property="goodsDescription" jdbcType="VARCHAR" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="IS_HOT" property="isHot" jdbcType="VARCHAR" />
    <result column="IS_NEW_PRODUCT" property="isNewProduct" jdbcType="VARCHAR" />
    <result column="UP_OFF_SHIELF" property="upOffShielf" jdbcType="VARCHAR" />
    <result column="GOODS_NAME_EN" property="goodsNameEn" jdbcType="VARCHAR" />
    <result column="STYLE_TYPE" property="styleType" jdbcType="VARCHAR" />
    <result column="SUB_STYLE" property="subStyle" jdbcType="VARCHAR" />
    <result column="GOODS_SELL_PRICE" property="goodsSellPrice" jdbcType="DECIMAL" />
    <result column="DESIGNER_ID" property="designerId" jdbcType="VARCHAR" />
    <result column="IS_SUIT" property="isSuit" jdbcType="VARCHAR" />
    <result column="CUSTOM_FLAG" property="customFlag" jdbcType="VARCHAR" />
    <result column="APP_INDEX_SHOW" property="appIndexShow" jdbcType="VARCHAR" />
    <result column="APP_INDEX_ORDER" property="appIndexOrder" jdbcType="DECIMAL" />
    <result column="DETAILS_INTRO_URL" property="detailsIntroUrl" jdbcType="VARCHAR" />
    <result column="DETAIL_MODEL_ONE" property="detailModelOne" jdbcType="VARCHAR" />
    <result column="DETAIL_MODEL_TWO" property="detailModelTwo" jdbcType="VARCHAR" />
    <result column="DETAIL_MODEL_THREE" property="detailModelThree" jdbcType="VARCHAR" />
    <result column="GOODS_IMAGE1" property="goodsImage1" jdbcType="VARCHAR" />
    <result column="GOODS_IMAGE2" property="goodsImage2" jdbcType="VARCHAR" />
    <result column="GOODS_IMAGE3" property="goodsImage3" jdbcType="VARCHAR" />
    <result column="GOODS_IMAGE4" property="goodsImage4" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE1" property="goodsDetailImage1" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE2" property="goodsDetailImage2" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE3" property="goodsDetailImage3" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE4" property="goodsDetailImage4" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE5" property="goodsDetailImage5" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE6" property="goodsDetailImage6" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE7" property="goodsDetailImage7" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE8" property="goodsDetailImage8" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE9" property="goodsDetailImage9" jdbcType="VARCHAR" />
    <result column="GOODS_DETAIL_IMAGE10" property="goodsDetailImage10" jdbcType="VARCHAR" />
    <result column="NEED_DETAIL_GENERATE" property="needDetailGenerate" jdbcType="VARCHAR" />
    <result column="DELETE_DATE" property="deleteDate" jdbcType="TIMESTAMP" />
    <result column="MAIN_STYLE" property="mainStyle" jdbcType="VARCHAR" />
    <result column="FABRIC_NAME" property="fabricName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from APP_GOODS
    where GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.kute.appletcore.entity.AppGoods" >
    insert into APP_GOODS (GOODS_ID, DELETE_FLAG, CREATE_DATE, 
      GOODS_DESCRIPTION, GOODS_NAME, IS_HOT, 
      IS_NEW_PRODUCT, UP_OFF_SHIELF, GOODS_NAME_EN, 
      STYLE_TYPE, SUB_STYLE, GOODS_SELL_PRICE, 
      DESIGNER_ID, IS_SUIT, CUSTOM_FLAG, 
      APP_INDEX_SHOW, APP_INDEX_ORDER, DETAILS_INTRO_URL, 
      DETAIL_MODEL_ONE, DETAIL_MODEL_TWO, DETAIL_MODEL_THREE, 
      GOODS_IMAGE1, GOODS_IMAGE2, GOODS_IMAGE3, 
      GOODS_IMAGE4, GOODS_DETAIL_IMAGE1, GOODS_DETAIL_IMAGE2, 
      GOODS_DETAIL_IMAGE3, GOODS_DETAIL_IMAGE4, GOODS_DETAIL_IMAGE5, 
      GOODS_DETAIL_IMAGE6, GOODS_DETAIL_IMAGE7, GOODS_DETAIL_IMAGE8, 
      GOODS_DETAIL_IMAGE9, GOODS_DETAIL_IMAGE10, 
      NEED_DETAIL_GENERATE, DELETE_DATE, MAIN_STYLE, 
      FABRIC_NAME)
    values (#{goodsId,jdbcType=DECIMAL}, #{deleteFlag,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{goodsDescription,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{isHot,jdbcType=VARCHAR}, 
      #{isNewProduct,jdbcType=VARCHAR}, #{upOffShielf,jdbcType=VARCHAR}, #{goodsNameEn,jdbcType=VARCHAR}, 
      #{styleType,jdbcType=VARCHAR}, #{subStyle,jdbcType=VARCHAR}, #{goodsSellPrice,jdbcType=DECIMAL}, 
      #{designerId,jdbcType=VARCHAR}, #{isSuit,jdbcType=VARCHAR}, #{customFlag,jdbcType=VARCHAR}, 
      #{appIndexShow,jdbcType=VARCHAR}, #{appIndexOrder,jdbcType=DECIMAL}, #{detailsIntroUrl,jdbcType=VARCHAR}, 
      #{detailModelOne,jdbcType=VARCHAR}, #{detailModelTwo,jdbcType=VARCHAR}, #{detailModelThree,jdbcType=VARCHAR}, 
      #{goodsImage1,jdbcType=VARCHAR}, #{goodsImage2,jdbcType=VARCHAR}, #{goodsImage3,jdbcType=VARCHAR}, 
      #{goodsImage4,jdbcType=VARCHAR}, #{goodsDetailImage1,jdbcType=VARCHAR}, #{goodsDetailImage2,jdbcType=VARCHAR}, 
      #{goodsDetailImage3,jdbcType=VARCHAR}, #{goodsDetailImage4,jdbcType=VARCHAR}, #{goodsDetailImage5,jdbcType=VARCHAR}, 
      #{goodsDetailImage6,jdbcType=VARCHAR}, #{goodsDetailImage7,jdbcType=VARCHAR}, #{goodsDetailImage8,jdbcType=VARCHAR}, 
      #{goodsDetailImage9,jdbcType=VARCHAR}, #{goodsDetailImage10,jdbcType=VARCHAR}, 
      #{needDetailGenerate,jdbcType=VARCHAR}, #{deleteDate,jdbcType=TIMESTAMP}, #{mainStyle,jdbcType=VARCHAR}, 
      #{fabricName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kute.appletcore.entity.AppGoods" >
    update APP_GOODS
    set DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      GOODS_DESCRIPTION = #{goodsDescription,jdbcType=VARCHAR},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      IS_HOT = #{isHot,jdbcType=VARCHAR},
      IS_NEW_PRODUCT = #{isNewProduct,jdbcType=VARCHAR},
      UP_OFF_SHIELF = #{upOffShielf,jdbcType=VARCHAR},
      GOODS_NAME_EN = #{goodsNameEn,jdbcType=VARCHAR},
      STYLE_TYPE = #{styleType,jdbcType=VARCHAR},
      SUB_STYLE = #{subStyle,jdbcType=VARCHAR},
      GOODS_SELL_PRICE = #{goodsSellPrice,jdbcType=DECIMAL},
      DESIGNER_ID = #{designerId,jdbcType=VARCHAR},
      IS_SUIT = #{isSuit,jdbcType=VARCHAR},
      CUSTOM_FLAG = #{customFlag,jdbcType=VARCHAR},
      APP_INDEX_SHOW = #{appIndexShow,jdbcType=VARCHAR},
      APP_INDEX_ORDER = #{appIndexOrder,jdbcType=DECIMAL},
      DETAILS_INTRO_URL = #{detailsIntroUrl,jdbcType=VARCHAR},
      DETAIL_MODEL_ONE = #{detailModelOne,jdbcType=VARCHAR},
      DETAIL_MODEL_TWO = #{detailModelTwo,jdbcType=VARCHAR},
      DETAIL_MODEL_THREE = #{detailModelThree,jdbcType=VARCHAR},
      GOODS_IMAGE1 = #{goodsImage1,jdbcType=VARCHAR},
      GOODS_IMAGE2 = #{goodsImage2,jdbcType=VARCHAR},
      GOODS_IMAGE3 = #{goodsImage3,jdbcType=VARCHAR},
      GOODS_IMAGE4 = #{goodsImage4,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE1 = #{goodsDetailImage1,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE2 = #{goodsDetailImage2,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE3 = #{goodsDetailImage3,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE4 = #{goodsDetailImage4,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE5 = #{goodsDetailImage5,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE6 = #{goodsDetailImage6,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE7 = #{goodsDetailImage7,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE8 = #{goodsDetailImage8,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE9 = #{goodsDetailImage9,jdbcType=VARCHAR},
      GOODS_DETAIL_IMAGE10 = #{goodsDetailImage10,jdbcType=VARCHAR},
      NEED_DETAIL_GENERATE = #{needDetailGenerate,jdbcType=VARCHAR},
      DELETE_DATE = #{deleteDate,jdbcType=TIMESTAMP},
      MAIN_STYLE = #{mainStyle,jdbcType=VARCHAR},
      FABRIC_NAME = #{fabricName,jdbcType=VARCHAR}
    where GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select GOODS_ID, DELETE_FLAG, CREATE_DATE, GOODS_DESCRIPTION, GOODS_NAME, IS_HOT, 
    IS_NEW_PRODUCT, UP_OFF_SHIELF, GOODS_NAME_EN, STYLE_TYPE, SUB_STYLE, GOODS_SELL_PRICE, 
    DESIGNER_ID, IS_SUIT, CUSTOM_FLAG, APP_INDEX_SHOW, APP_INDEX_ORDER, DETAILS_INTRO_URL, 
    DETAIL_MODEL_ONE, DETAIL_MODEL_TWO, DETAIL_MODEL_THREE, GOODS_IMAGE1, GOODS_IMAGE2, 
    GOODS_IMAGE3, GOODS_IMAGE4, GOODS_DETAIL_IMAGE1, GOODS_DETAIL_IMAGE2, GOODS_DETAIL_IMAGE3, 
    GOODS_DETAIL_IMAGE4, GOODS_DETAIL_IMAGE5, GOODS_DETAIL_IMAGE6, GOODS_DETAIL_IMAGE7, 
    GOODS_DETAIL_IMAGE8, GOODS_DETAIL_IMAGE9, GOODS_DETAIL_IMAGE10, NEED_DETAIL_GENERATE, 
    DELETE_DATE, MAIN_STYLE, FABRIC_NAME
    from APP_GOODS
    where GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select GOODS_ID, DELETE_FLAG, CREATE_DATE, GOODS_DESCRIPTION, GOODS_NAME, IS_HOT, 
    IS_NEW_PRODUCT, UP_OFF_SHIELF, GOODS_NAME_EN, STYLE_TYPE, SUB_STYLE, GOODS_SELL_PRICE, 
    DESIGNER_ID, IS_SUIT, CUSTOM_FLAG, APP_INDEX_SHOW, APP_INDEX_ORDER, DETAILS_INTRO_URL, 
    DETAIL_MODEL_ONE, DETAIL_MODEL_TWO, DETAIL_MODEL_THREE, GOODS_IMAGE1, GOODS_IMAGE2, 
    GOODS_IMAGE3, GOODS_IMAGE4, GOODS_DETAIL_IMAGE1, GOODS_DETAIL_IMAGE2, GOODS_DETAIL_IMAGE3, 
    GOODS_DETAIL_IMAGE4, GOODS_DETAIL_IMAGE5, GOODS_DETAIL_IMAGE6, GOODS_DETAIL_IMAGE7, 
    GOODS_DETAIL_IMAGE8, GOODS_DETAIL_IMAGE9, GOODS_DETAIL_IMAGE10, NEED_DETAIL_GENERATE, 
    DELETE_DATE, MAIN_STYLE, FABRIC_NAME
    from APP_GOODS
  </select>
</mapper>