<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kute.appletcore.dao.AppInformationMapper" >
  <resultMap id="BaseResultMap" type="com.kute.appletcore.entity.AppInformation" >
    <id column="INFORMATION_ID" property="informationId" jdbcType="DECIMAL" />
    <result column="SHOW_PIC" property="showPic" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="ISVISIBLE" property="isvisible" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="DETAIL_URL" property="detailUrl" jdbcType="VARCHAR" />
    <result column="USE_MODULE" property="useModule" jdbcType="VARCHAR" />
    <result column="SHARE_IMAGE_URL" property="shareImageUrl" jdbcType="VARCHAR" />
    <result column="IS_BANNER_SHOW" property="isBannerShow" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="SHOW_ORDER" property="showOrder" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from APP_INFORMATION
    where INFORMATION_ID = #{informationId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.kute.appletcore.entity.AppInformation" >
    insert into APP_INFORMATION (
      SHOW_PIC, TITLE,
      CONTENT, ISVISIBLE, CREATE_DATE, 
      UPDATE_DATE, CREATE_BY, DETAIL_URL, 
      USE_MODULE, SHARE_IMAGE_URL, IS_BANNER_SHOW, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, SHOW_ORDER
      )
    values ( #{showPic,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{isvisible,jdbcType=VARCHAR},now(),
      now(), #{createBy,jdbcType=VARCHAR}, #{detailUrl,jdbcType=VARCHAR},
      #{useModule,jdbcType=VARCHAR}, #{shareImageUrl,jdbcType=VARCHAR}, #{isBannerShow,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{showOrder,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kute.appletcore.entity.AppInformation" >
    update APP_INFORMATION
    set SHOW_PIC = #{showPic,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      ISVISIBLE = #{isvisible,jdbcType=VARCHAR},
      UPDATE_DATE = now(),
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      DETAIL_URL = #{detailUrl,jdbcType=VARCHAR},
      SHARE_IMAGE_URL = #{shareImageUrl,jdbcType=VARCHAR},
      IS_BANNER_SHOW = #{isBannerShow,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      SHOW_ORDER = #{showOrder,jdbcType=DECIMAL}
    where INFORMATION_ID = #{informationId,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select INFORMATION_ID, SHOW_PIC, TITLE, CONTENT, ISVISIBLE, CREATE_DATE, UPDATE_DATE, 
    CREATE_BY, DETAIL_URL, USE_MODULE, SHARE_IMAGE_URL, IS_BANNER_SHOW, ATTRIBUTE1, ATTRIBUTE2, 
    ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, SHOW_ORDER
    from APP_INFORMATION
    where INFORMATION_ID = #{informationId,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select INFORMATION_ID, SHOW_PIC, TITLE, CONTENT, ISVISIBLE, CREATE_DATE, UPDATE_DATE, 
    CREATE_BY, DETAIL_URL, USE_MODULE, SHARE_IMAGE_URL, IS_BANNER_SHOW, ATTRIBUTE1, ATTRIBUTE2, 
    ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, SHOW_ORDER
    from APP_INFORMATION
  </select>
</mapper>