<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kute.appletcore.dao.AppSizeSubMapper" >
  <resultMap id="BaseResultMap" type="com.kute.appletcore.entity.AppSizeSub" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SIZESTANDARDID" property="sizestandardid" jdbcType="VARCHAR" />
    <result column="SINGLECLOTHINGID" property="singleclothingid" jdbcType="VARCHAR" />
    <result column="PARTID" property="partid" jdbcType="VARCHAR" />
    <result column="DEFAULTVALUE" property="defaultvalue" jdbcType="DECIMAL" />
    <result column="SIZEFROM" property="sizefrom" jdbcType="DECIMAL" />
    <result column="SIZETO" property="sizeto" jdbcType="DECIMAL" />
    <result column="ISREQUIRED" property="isrequired" jdbcType="VARCHAR" />
    <result column="SEQUENCENO" property="sequenceno" jdbcType="VARCHAR" />
    <result column="CREATEBY" property="createby" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="BLECODE" property="blecode" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from app_size_sub
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kute.appletcore.entity.AppSizeSub" >
    insert into app_size_sub (ID, SIZESTANDARDID, SINGLECLOTHINGID, 
      PARTID, DEFAULTVALUE, SIZEFROM, 
      SIZETO, ISREQUIRED, SEQUENCENO, 
      CREATEBY, CREATETIME, BLECODE
      )
    values (#{id,jdbcType=VARCHAR}, #{sizestandardid,jdbcType=VARCHAR}, #{singleclothingid,jdbcType=VARCHAR}, 
      #{partid,jdbcType=VARCHAR}, #{defaultvalue,jdbcType=DECIMAL}, #{sizefrom,jdbcType=DECIMAL}, 
      #{sizeto,jdbcType=DECIMAL}, #{isrequired,jdbcType=VARCHAR}, #{sequenceno,jdbcType=VARCHAR}, 
      #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{blecode,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kute.appletcore.entity.AppSizeSub" >
    update app_size_sub
    set SIZESTANDARDID = #{sizestandardid,jdbcType=VARCHAR},
      SINGLECLOTHINGID = #{singleclothingid,jdbcType=VARCHAR},
      PARTID = #{partid,jdbcType=VARCHAR},
      DEFAULTVALUE = #{defaultvalue,jdbcType=DECIMAL},
      SIZEFROM = #{sizefrom,jdbcType=DECIMAL},
      SIZETO = #{sizeto,jdbcType=DECIMAL},
      ISREQUIRED = #{isrequired,jdbcType=VARCHAR},
      SEQUENCENO = #{sequenceno,jdbcType=VARCHAR},
      CREATEBY = #{createby,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      BLECODE = #{blecode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, SIZESTANDARDID, SINGLECLOTHINGID, PARTID, DEFAULTVALUE, SIZEFROM, SIZETO, 
    ISREQUIRED, SEQUENCENO, CREATEBY, CREATETIME, BLECODE
    from app_size_sub
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, SIZESTANDARDID, SINGLECLOTHINGID, PARTID, DEFAULTVALUE, SIZEFROM, SIZETO, 
    ISREQUIRED, SEQUENCENO, CREATEBY, CREATETIME, BLECODE
    from app_size_sub
  </select>
</mapper>