<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kute.appletcore.dao.OrderDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.kute.appletcore.entity.OrderDetails" >
    <id column="line_id" property="lineId" jdbcType="INTEGER" />
    <result column="cloth_name" property="clothName" jdbcType="VARCHAR" />
    <result column="cloth_id" property="clothId" jdbcType="VARCHAR" />
    <result column="cloth_style" property="clothStyle" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="fabric_code" property="fabricCode" jdbcType="VARCHAR" />
    <result column="style" property="style" jdbcType="INTEGER" />
    <result column="actual_amount" property="actualAmount" jdbcType="DOUBLE" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="lining_type" property="liningType" jdbcType="VARCHAR" />
    <result column="process_price" property="processPrice" jdbcType="DECIMAL" />
    <result column="process_actual_price" property="processActualPrice" jdbcType="DECIMAL" />
    <result column="technology_code" property="technologyCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="price_retail" property="priceRetail" jdbcType="DECIMAL" />
    <result column="bonus_price" property="bonusPrice" jdbcType="DECIMAL" />
    <result column="gift_card_price" property="giftCardPrice" jdbcType="DECIMAL" />
    <result column="info_id" property="infoId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_details
    where line_id = #{lineId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kute.appletcore.entity.OrderDetails" >
    insert into order_details (line_id, cloth_name, cloth_id, 
      cloth_style, amount, price, 
      fabric_code, style, actual_amount, 
      size, lining_type, process_price, 
      process_actual_price, technology_code, status, 
      is_delete, discount_price, price_retail, 
      bonus_price, gift_card_price, info_id
      )
    values (#{lineId,jdbcType=INTEGER}, #{clothName,jdbcType=VARCHAR}, #{clothId,jdbcType=VARCHAR}, 
      #{clothStyle,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{fabricCode,jdbcType=VARCHAR}, #{style,jdbcType=INTEGER}, #{actualAmount,jdbcType=DOUBLE}, 
      #{size,jdbcType=VARCHAR}, #{liningType,jdbcType=VARCHAR}, #{processPrice,jdbcType=DECIMAL}, 
      #{processActualPrice,jdbcType=DECIMAL}, #{technologyCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{discountPrice,jdbcType=DECIMAL}, #{priceRetail,jdbcType=DECIMAL}, 
      #{bonusPrice,jdbcType=DECIMAL}, #{giftCardPrice,jdbcType=DECIMAL}, #{infoId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kute.appletcore.entity.OrderDetails" >
    update order_details
    set cloth_name = #{clothName,jdbcType=VARCHAR},
      cloth_id = #{clothId,jdbcType=VARCHAR},
      cloth_style = #{clothStyle,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      fabric_code = #{fabricCode,jdbcType=VARCHAR},
      style = #{style,jdbcType=INTEGER},
      actual_amount = #{actualAmount,jdbcType=DOUBLE},
      size = #{size,jdbcType=VARCHAR},
      lining_type = #{liningType,jdbcType=VARCHAR},
      process_price = #{processPrice,jdbcType=DECIMAL},
      process_actual_price = #{processActualPrice,jdbcType=DECIMAL},
      technology_code = #{technologyCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      price_retail = #{priceRetail,jdbcType=DECIMAL},
      bonus_price = #{bonusPrice,jdbcType=DECIMAL},
      gift_card_price = #{giftCardPrice,jdbcType=DECIMAL},
      info_id = #{infoId,jdbcType=INTEGER}
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select line_id, cloth_name, cloth_id, cloth_style, amount, price, fabric_code, style, 
    actual_amount, size, lining_type, process_price, process_actual_price, technology_code, 
    status, is_delete, discount_price, price_retail, bonus_price, gift_card_price, info_id
    from order_details
    where line_id = #{lineId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select line_id, cloth_name, cloth_id, cloth_style, amount, price, fabric_code, style, 
    actual_amount, size, lining_type, process_price, process_actual_price, technology_code, 
    status, is_delete, discount_price, price_retail, bonus_price, gift_card_price, info_id
    from order_details
  </select>
</mapper>