<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kute.appletcore.dao.GoodsMapper">

    <!-- 获取小程序商品列表 根据服装风格-->
    <select id="selectAppGoodsListByStyle"  parameterType="string" resultType="com.kute.appletcore.entity.AppGoods">
        select  GOODS_ID,GOODS_NAME,GOODS_NAME_EN,GOODS_SELL_PRICE,(select  s.parameter_value  from sys_parameter_config s
            where  s.parameter_code='goods_img')||DETAIL_MODEL_ONE DETAIL_MODEL_ONE, DETAILS_INTRO_URL,fabric_name
        from app_goods s
       where s.style_type=#{value}
        and s.up_off_shielf='Y'
        and s.delete_flag='N'
        order by s.app_index_order
    </select>

	<!-- 获取小程序商品列表 根据服装大类-->
	<select id="selectAppGoodsListByMenu"  parameterType="Map" resultType="com.kute.appletcore.entity.AppGoods">
        select  GOODS_ID,GOODS_NAME,GOODS_NAME_EN,GOODS_SELL_PRICE,(select  s.parameter_value  from sys_parameter_config s
            where  s.parameter_code='goods_img')||DETAIL_MODEL_ONE DETAIL_MODEL_ONE, DETAILS_INTRO_URL,fabric_name
        from app_goods s
       where 1=1
        and s.up_off_shielf='Y'
		and s.main_style=#{main_style}
		<if test="sub_style != null and sub_style !=''">
			and s.sub_style=#{sub_style}
		</if>
		and s.delete_flag='N'
        order by s.app_index_order
    </select>

    <!--获取商品主品类下拉选 -->
    <select id="getMainSelectInfo"  resultType="com.kute.appletcore.vo.GoodsMenu">
		select s.node_code code ,s.node_name name   from sys_data_struct_node s
		where s.struct_code='app_goods'
		and s.parent_node_code='G'
		and s.enabled_flag='Y'
		 order  by   s.display_order
		</select>

    <!--获取商品子品类下拉选 -->
    <select id="getSubSelectInfo" parameterType="string" resultType="com.kute.appletcore.vo.GoodsMenu">
		select s.node_code code ,s.node_name name from sys_data_struct_node s
		where s.struct_code='app_goods'
		and s.parent_node_code=#{value}
		and s.enabled_flag='Y'
		order  by   s.display_order
		</select>

    <!-- 修改量体师头像 -->
    <update id="updateGoodsImage" parameterType="Map">
	        update app_Goods
	           set Goods_image=#{Goods_image}
	         where 1 = 1
	           and store_code = #{store_code}
	           and Goods_id = #{Goods_id}
	 </update>

	<!--获取首页APP显示品类及数量-->
	<select id="getAppMainShowTypeAndNum"  resultType="com.kute.appletcore.entity.SysParameterDefine">
		select spd.parameter_code,spd.parameter_name,spc.parameter_value description  from sys_parameter_define spd, sys_parameter_config spc
		where  spd.parameter_code=spc.parameter_code
		and spd.parameter_type='app_show_type_and_num'
		order by spd.show_order
	</select>




	<!-- 获取小程序前台展示商品数据-->
	<select id="selectAppMainShowGoods"  parameterType="Map" resultType="com.kute.appletcore.entity.AppGoods">
		select * from (
		select GOODS_ID,
		GOODS_NAME,
		GOODS_NAME_EN,
		GOODS_SELL_PRICE,
		(select parameter_value
		from sys_parameter_config
		where parameter_code = 'goods_img') || DETAIL_MODEL_ONE DETAIL_MODEL_ONE,
		DETAILS_INTRO_URL,
		fabric_name
		from app_goods s
		where 1 = 1
		and s.up_off_shielf = 'Y'
		and s.main_style = #{main_style}
		and s.APP_INDEX_SHOW='Y'
		and s.delete_flag='N'
		order by s.app_index_order
		) where  #{quantity} >= rownum
	</select>
</mapper>