<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kute.appletmanage.order.dao.OrderMangerMapper">

    <!-- 获取订单列表 -->
    <select id="getOrderList" resultType="com.kute.appletcore.vo.OrderDetailsVO">
        SELECT
        oh.head_id,
        oh.packagecode,
        member_id,
        create_date,
        sizecategory_id,
        ddi2.item_name as payStatus,
        order_price,
        order_reality_price,
        pay_type,
        pay_date,
        pay_num,
        pay_price,
        member_name,
        member_tel,
        province,
        city,
        county,
        street,
        oi.info_id,
        oi.order_id,
        oi.cloth_id,
        oi.cloth_name,
        oi.amount,
        oi.price,
        oi.fabric_code,
        oi.actual_amount,
        oi.lining_type,
        delivery_date,
        delivery_code,
        final_delivery_date,
        ddi1.item_name as status,
        oi.syscode,
        warehouse_date,
        oi.is_delete,
        start_production_date,
        push_factory_date,
        push_factory_state,
        push_factory_message
        from  order_info oi
        inner JOIN order_head oh ON oi.packagecode = oh.packagecode
        left join sys_data_dict_item ddi1 on oi.status=ddi1.item_code  and  ddi1.type_code='order_status'
        left join sys_data_dict_item ddi2 on oh.pay_status=ddi2.item_code  and  ddi2.type_code='pay_status'

        <if test="search != null and search !=''">
            <![CDATA[${search}]]>
        </if>
        order by create_date desc
    </select>



    <!--获取订单信息详情-->
    <select id="getOrderDetailsList" resultType="com.kute.appletcore.entity.OrderDetails">
            SELECT
            line_id,
            cloth_name,
            cloth_id,
            amount,
            price,
            fabric_code,
            actual_amount,
            size,
            al.lining_name lining_type
        FROM
            order_details od
            LEFT JOIN app_lining al ON cloth_id = al.category
            AND lining_type = al.lining_code
        WHERE
            info_id = #{infoId}

    </select>

    <!--根据订单ID获取订单工艺-->
       <select id="getOrderTechnologyListById" resultType="com.kute.appletcore.entity.OrderTechnology">
           select ot.id, order_detail_id, technology_id, content, price,ata.technology_name,factory_code
           from order_technology ot
	       left join  app_technology_attribute ata on  ot.technology_id=ata.id
	       where order_detail_id=#{detailId}

       </select>

        <!--根据订单ID获取订单刺绣-->
        <select id="getOrderStitchWorkListById"  resultType="com.kute.appletcore.entity.OrderStitchWork">
                SELECT
                osw.id,
                order_detail_id,
                position_id,
                asp.position_name,
                color_id,
                ddi.item_name as colorName,
                font_id,
                ddi1.item_name as fontName,
                size_id,
                icon_id,
                as1.stitch_work_name as iconName,
                content,
                price
            FROM
                order_stitch_work osw
                LEFT JOIN sys_data_dict_item ddi ON osw.color_id = ddi.item_code AND ddi.type_code = 'emb_color'
                LEFT JOIN sys_data_dict_item ddi1 ON osw.font_id = ddi1.item_code AND ddi1.type_code = 'emb_font'
                LEFT JOIN app_stitchwork_position asp ON osw.position_id = asp.id
                LEFT JOIN app_stitchwork as1 ON osw.icon_id = as1.id
              where order_detail_id=#{detailId}
    </select>

</mapper>